# =============================================================
# TOPUP ZONE - Environment Variables Template
# Copy file ini ke .env lalu isi nilainya
# =============================================================

# ---- Database -----------------------------------------------
# Untuk Vercel, gunakan cloud PostgreSQL (rekomendasi: https://neon.tech)
DATABASE_URL=postgresql://neondb_owner:npg_DFiU8bBrdm3J@ep-fragrant-mud-amg236bp-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
# ---- Midtrans -----------------------------------------------
# Dari: https://dashboard.midtrans.com → Settings → Access Keys
MIDTRANS_SERVER_KEY=SB-Mid-server-Und4NMSIZi6clKHKjnFVXHIU
MIDTRANS_CLIENT_KEY=SB-Mid-client-ddFNrRMPsANgaA1B

# ---- Digiflazz ----------------------------------------------
# Dari: https://digiflazz.com → Pengaturan → API
DIGIFLAZZ_USERNAME=sosizigwNYLW
DIGIFLAZZ_API_KEY=dev-7bd9e1b0-dd42-11eb-bf96-9581bb93bbe0

# ---- Admin --------------------------------------------------
ADMIN_TOKEN=fd239d46e1cf14261a9e86d97b6aac909c00d495f3d49523a8548a7f8173948f
PRICE_MARKUP_PERCENT=5

# ---- Session ------------------------------------------------
SESSION_SECRET=372de468a641631b4dd1540527bbfa42f339af8f0fa32ad3f3a75c410a2121c4

# ---- Frontend (Vite - harus diawali VITE_) ------------------
VITE_MIDTRANS_CLIENT_KEY=SB-Mid-client-ddFNrRMPsANgaA1B
# Sandbox:    https://app.sandbox.midtrans.com/snap/snap.js
# Production: https://app.midtrans.com/snap/snap.js
VITE_MIDTRANS_SNAP_URL=https://app.sandbox.midtrans.com/snap/snap.js
